<% include cabecera.ejs %>

  <!-- Mashead header-->
<header class="masthead">
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
              <!-- Mashead text and app badges-->
              <div class="mb-5 mb-lg-0 text-center text-lg-start">

                <p><%= bienvenido %> to <%= title %></p>
                <p><%= __('El segundo actual es') %> <%= segundoActual %></p>
                <p>El color es <%= color %></p>

                <h3>Inyección de código</h3>
                <p><%= codigo %></p>

                <h3>Condiciones</h3>
                <% if (estado) { %>
                  <p><%= __('El segundo actual es Par') %></p>
                <% } else { %>
                  <p><%= __('El segundo actual es impar') %></p>
                <% } %>

                <h3>Bucles</h3>
                <% usuarios.forEach(usuario => { %>
                  <p>Usuario con nombre <%= usuario.nombre %> tiene <%= usuario.edad %> años</p>
                <% }) %>

                <h2><%=__('18n example for plurals')%></h2>
                <p>0 <%= __n('Mouse', 0) %></p>
                <p>1 <%= __n('Mouse', 1) %></p>
                <p>2 <%= __n('Mouse', 2) %></p>
                <p>3 <%= __n('Mouse', 3) %></p>



              </div>
          </div>
      </div>
  </div>
</header>

<% include pie.ejs %>
